html,
body {
  height: 100%;
}
h1 {
  text-align: center;
}
.quesStyle {
  width: 100%;
  position: fixed;
  top: 20%;
  font-size: 35px;
  text-align: center;
}
.inputField {
  height: 34px;
  width: 25%;
  font-size: 20px;
}
.previewButton {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}
.button {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  outline: none;
}
.initial {
  display: inline-block;
  height: 20px;
}
.initial-1 {
  background-color: #D77C7C;
  height: 20px;
  transition: 1s;
  width: 20%;
}
.initial-2 {
  background-color: red;
  width: 40%;
  height: 20px;
  transition: 1s;
}
.initial-3 {
  background-color: #F4F469;
  width: 60%;
  height: 20px;
  transition: 1s;
}
.initial-4 {
  background-color: yellow;
  width: 80%;
  height: 20px;
  transition: 1s;
}
.initial-5 {
  background-color: green;
  width: 100%s;
  height: 20px;
  transition: 1s;
}